*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-item: center;
    background:#111;
    font-family:Arial, Helvetica, sans-serif;

}
.clock{
    backgroung:cyan;
    color:cyan;
    padding:30px 60px;
    border-radius:15px;
    box-shadow:0 0 20px cyan;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}
#time{
    color:rgb(26, 193, 199)0, 255, 85);
    font-size:60px;
    letter-spacing:5px;
}